.home_header_banner {
  width: 100vw;
  height: 60vh;
  background: #faf0ea;
}
.kykNet {
  justify-content: flex-end;
}
.navbar {
  padding: 0 !important;
}

.Header_Body {
  position: absolute;
  top: 30vh;
  h3 {
    width: 40%;
  }
  p {
    width: 35%;
  }
}
