.home_header_banner {
  width: 100vw;
  height: 60vh;
  background: #faf0ea;
}
.kykNet {
  justify-content: flex-end;
}
.navbar {
  padding: 0 !important;
}

.Header_Body {
  position: absolute;
  top: 30vh;
  h3 {
    width: 40%;
  }
  p {
    width: 35%;
  }
}
.card-columns {
  column-count: 2 !important;
}
// .card {
//   border: none;
//   transition: all 2s ease;
//   // background: #15b085;
//   .card-body {
//     display: none;
//     border: none;
//     color: #faf0ea;
//   }
// }
// .card:hover {
//   background-image: none !important;
//   transition: all 2s ease;
//   background: #15b085;
//   border: none;
//   text-align: center;
//   .card-body {
//     display: inline;
//     color: white;
//   }
// }
